<ion-view view-title="Perfil">
  <ion-content class="fondo">
   <body>
  <main>
    <div class="img-perfil">
    <img src="https://image.flaticon.com/icons/svg/188/188982.svg" width="100px" . title="usuario" alt="foto-perfil"></div>
    <h3>nombre de usuario</h3>
    <p class="margen">Entrenador/Entrenadora</p>
    <hr>
    <h4>Nivel de Experiencia : 85%</h4>
    <div class="center">
   
    <div class="progress">
    <p>EXP.</p>
      <progress id="html5" max="100" value="91"></progress>
      <span></span>
    </div>
    
    <input type="button" id="boton" value="Reload" />
  </div>

    <p>Lorem ipsum dolor sit amet consectetur</p>
    <div class="caja-gris">
       <div class="sobre">
        <h5>Campeón de Liga</h5>
           <img src="https://image.flaticon.com/icons/svg/188/188931.svg" width="50px" height="50px">
        <p>1</p> 
      </div>
      <div class="sobre">
        <h5>Pokemones</h5>
           <img src="https://image.flaticon.com/icons/png/128/280/280786.png" width="50px" height="50px"> 
        <p>802</p>

      </div>
      <div class="sobre">
        <h5>Medallas</h5>
           <img src="https://image.flaticon.com/icons/svg/189/189015.svg" width="50px" height="50px">
        <p>9</p> 
        <p></p>
      </div>
    </div> 
    
      <div class="redes face"><a href="#"></a></div>
      <div class="redes twitter"><a href="#"></a></div>
      <div class="redes instagram"><a href="#"></a></div>
      <div class="redes youtube"><a href="#"></a></div>
     <div class="boton">
          <a href="#">Follow</a>
        </div> 
    
    
    
  </main>
</body>

<footer></footer>
  </ion-content>
</ion-view>
