<ion-view view-title="Perfil">
  <ion-content class="fondo">
   <body>
  <main>
    <div class="img-perfil">
    <img src="https://image.flaticon.com/icons/svg/188/188926.svg" width="110px" . title="usuario" alt="foto-perfil"></div>
     <h4>Maestro</h4> 
    <div class="p1"><h3>Xavi.JJ</h3>  
    </div>

    <hr>
   <section class="container">
  <div class=p1><h3>Estadisticas</h3></div>
  <canvas id="cFija" height="200" width="200" />
</section>
    <div class="caja-gris">
       <div class="sobre">
        <h5 class="aju">Campeón de Liga</h5>
           <img src="https://image.flaticon.com/icons/svg/188/188931.svg" width="50px" height="50px">
        <p>1</p> 
      </div>
      <div class="sobre">
        <h5 class="aju">Pokemones</h5>
           <img src="https://image.flaticon.com/icons/png/128/280/280786.png" width="50px" height="50px"> 
        <p>802</p>

      </div>
      <div class="sobre">
        <h5 class="aju">Medallas</h5>
           <img src="https://image.flaticon.com/icons/svg/189/189015.svg" width="50px" height="50px">
        <p>9</p> 
      </div>
    </div> 
    <div class="b15">
      <div class="redes face"><a href="#"></a></div>
      <div class="redes twitter"><a href="#"></a></div>
      <div class="redes instagram"><a href="#"></a></div>
      <div class="redes youtube"><a href="#"></a></div>
      </div>
     <div class="boton">
          <a href="#">Siguenos</a>
        </div> 
    
    
    
  </main>
</body>

<footer></footer>
  </ion-content>
</ion-view>
