<ion-view view-title="Perfil">
  <ion-content class="fondo">
   <body>
  <main>
    <div class="img-perfil">
    <img src="https://image.flaticon.com/icons/svg/188/188982.svg" width="100px" . title="usuario" alt="foto-perfil"></div>
    <h3>nombre de usuario</h3>
    <p class="margen">Entrenador/Entrenadora</p>
    <hr>
    <h3>Activity Level : 85%</h3>
    <p>Lorem ipsum dolor sit amet consectetur</p>
    <div class="caja-gris">
       <div class="sobre">
           <img src="https://image.flaticon.com/icons/svg/1408/1408921.svg" width="50px" height="50px">
        <p>1086</p> 
      </div>
      <div class="sobre">
        <h5>pokemones encontrados</h5>
           <img src="https://image.flaticon.com/icons/png/128/280/280786.png" width="50px" height="50px">
         
        <p>1582</p>

      </div>
      <div class="sobre">
           <img src="https://image.flaticon.com/icons/svg/1408/1408921.svg" width="50px" height="50px">
        <p>1468</p> 
        <p></p>
      </div>
    </div> 
    
      <div class="redes face"><a href="#"></a></div>
      <div class="redes twitter"><a href="#"></a></div>
      <div class="redes instagram"><a href="#"></a></div>
      <div class="redes youtube"><a href="#"></a></div>
     <div class="boton">
          <a href="#">Follow</a>
        </div> 
    
    
    
  </main>
</body>

<footer></footer>
  </ion-content>
</ion-view>
